{% if conf.get('sp.head') %}
	<title>{{ seo.title }}</title>
	<meta name="page-title" content="{{ seo.title }}" />
	<meta name="description" content="{{ seo.description }}" />
	<meta name="author" content="{{ config['site-name'] }}"/>

	{# Open Graph #}
	<meta property="og:title" content="{{ seo.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://{{ config['domain'] }}{{ currentRoute }}" />
	<meta property="og:image" content="{{ seo.image }}" />
	<meta property="og:description" content="{{ seo.description }}" /> 
	<meta property="og:site_name" content="{{ config['site-name'] }}" />
	{% if seo.video and seo.video != "" %}<meta property="og:video" content="{{ seo.video }}" />{% endif %}

	{# Twitter Card #}
	<meta name="twitter:card" content="{% if seo.video and seo.video != "" %}player{% else %}summary_large_image{% endif %}">
	<meta name="twitter:title" content="{{ seo.title }}">
	<meta name="twitter:description" content="{{ seo.description }}">
	<meta name="twitter:image" content="{{ seo.image }}">
	{% if seo.video and seo.video != "" %}
	<meta property="twitter:player" content="{{ seo.video }}" />
	<meta property="twitter:player:stream" content="{{ seo.video }}" />
	<meta property="twitter:player:height" content="450" />
	<meta property="twitter:player:width" content="800" />
	{% endif %}

	{# Google+ #}
	<meta itemprop="name" content="{{ seo.title }}">
	<meta itemprop="description" content="{{ seo.description }}">
	<meta itemprop="image" content="{{ seo.image }}">

{% endif %}